# created by waf using data/wscript

@OPT_ENV@

LD_LIBRARY_PATH=$ASTER_VERSION_DIR/lib:\
@LD_LIBRARY_PATH@:\
$LD_LIBRARY_PATH
export LD_LIBRARY_PATH

PYTHONPATH=\
@PYTHONDIR@:\
@CFG_PYTHONPATH@:\
$PYTHONPATH
export PYTHONPATH

PYTHONHOME=@PYTHONHOME@
export PYTHONHOME
