# created by waf using data/wscript

@OPT_ENV@

LD_LIBRARY_PATH=$ASTER_VERSION_DIR/lib:\
@LD_LIBRARY_PATH@:\
$LD_LIBRARY_PATH
export LD_LIBRARY_PATH

PYTHONPATH=\
@ASTERLIBDIR@:\
@CFG_PYTHONPATH@:\
$PYTHONPATH
export PYTHONPATH

PYTHONHOME=@PYTHONHOME@
export PYTHONHOME

# as PYTHONHOME is changed, path to 'python' must preceed all others if a
# subprocess call it
PATH=@PYTHON_DIRNAME@:\
$PATH
export PATH

ASTER_LOCALEDIR=@ASTERLOCALEDIR@
export ASTER_LOCALEDIR

ASTER_ELEMENTSDIR=@ASTERLIBDIR@
export ASTER_ELEMENTSDIR
